.body,html {
  background-color: #F7E3CA;
} 

.time-activity-container {
  width: 100%;
  overflow-x: auto;
  max-height: 500px;
  overflow-y: auto;
}

.table-controls {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.toggle-breaks-btn {
  background-color: #b08968;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  color: white;
  font-size: 14px;
}

.time-table-wrapper {
  overflow-x: auto;
  max-height: 450px;
  overflow-y: auto;
}

.time-activity-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  position: relative;
}

.time-activity-table th,
.time-activity-table td {
  border: 1px solid #A07907;
  padding: 8px;
  text-align: center;
}

.time-activity-table th {
  background-color: #FFE26C;
}

.time-activity-table thead th {
  position: sticky;
  top: 0;
  background-color: #FFE26C;
  z-index: 10;
}

.time-activity-table .has-data {
  color: #333;
  cursor: pointer;
}

.time-activity-table .no-data {
  color: #999;
  cursor: pointer;
}




@media (max-width: 768px) {
  .time-activity-table {
    font-size: 12px;
  }
  
  .time-activity-table th,
  .time-activity-table td {
    padding: 6px 4px;
  }

} 